<div class="row p-2">
		<div class="col-md-6 text-center">
			<img class="img-responsive center-block" src="{{user.image}}" style="width: 250px;margin-bottom: 25px;">
		</div>
		<div class="col-md-6">
			<h3>{{user.name}}</h3>
			<p>{{user.email}}</p>
			{{#ifUserEdit user.id localUser.id }}
			<a href="/users/{{user.id}}/edit"><button class="btn btn-outline-success my-2 my-sm-0">Edit</button></a>
			{{/ifUserEdit}}
		</div>
</div>

{{#if user.Comments}}
<blockquote class="blockquote m-auto p-2"></blockquote>
<p class="">{{user.Comments.length}}個已評論的餐廳</p>
{{#each user.Comments}}
	<a href="/restaurants/{{this.Restaurant.id}}"><img class="img-responsive center-block mr-3" src="{{this.Restaurant.image}}" style="width:70px;margin-bottom: 25px;"></a>
	{{/each}}
</blockquote>
{{/if}}
<hr />




